<div class="navbar">
    <div class="navbar-logo">
        <img src="./assets/frontend/logo.webp" width="48px" height="48px" alt="Accueil">
    </div>
    <div class="navbar-links">
        <p class="navbar-link">Blog</p>
        <p class="navbar-link">Projets</p>
        <p class="navbar-link">Me contacter</p>
    </div>
    <div class="navbar-theme">
        <div class="theme-container" (click)="swapTheme()">
            <img width="16px" height="16px" class="theme-icon" src="./assets/frontend/icon-moon.webp" alt="theme">
        </div>
    </div>
</div>