.navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 24px;
    padding: 0 10%;
    height: 80px;
    border-bottom: 2px solid var(--clr-light);
}

.navbar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-link {
    color: var(--clr-main);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.64px;
    cursor: pointer;
    position: relative;
}

.navbar-link:before {
    transition: .3s;
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: var(--clr-accent);
    left: 0;
    bottom: -4px;
}

.navbar-link:hover:before {
    width: 100%;
}

.navbar-theme {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.theme-container {
    cursor: pointer;
    transition: .3s;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background-color: var(--clr-main);
    display: flex;
    align-items: center;
    justify-content: center;
}


.theme-container:hover {

    background-color: var(--clr-accent);

}


@media screen and (max-width: 1248px) {
    .navbar {
        grid-template-columns: 1fr 2fr 1fr;
    }
}

@media screen and (max-width: 948px) {
    .navbar {
        grid-template-columns: repeat(3, auto);
    }
    .navbar-link {
        font-size: 15px;
    }
}



@media screen and (max-width: 648px) {
    .navbar {
        grid-template-columns: repeat(2, auto);
    }

    .navbar-links {
        display: none;
    }
    
}