<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Lavit Gaëtan</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=KoHo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">
        <link rel='shortcut icon' type='image/x-icon' href='../assets/img/logo.ico' />
</head>

<body>
    <!-- NAVBAR -->
    <div class="navbar">
        <div class="navbar-figure"></div>
        <div class="navbar-contact"><img class="contact-icon" width="16px" height="16px"
                src="../assets/img/icon-message.png">Me contacter</div>
    </div>

    <!-- HERO SECTION -->
    <div class="section-hero">
        <h1 class="hero-title">LAVIT GAETAN</h1>
        <h2 class="hero-subtitle">Développeur web</h2>
        <p class="hero-text">Passionné par le numérique depuis toujours, j’ai décidé d’apprendre la programmation avec Simplon. J’aime participer à des projets en équipe ou exprimer ma créativité via des réalisations personnels.</p>
        <div class="hero-figure"></div>
    </div>
    <!-- PROJECT SECTION -->
    <div class="section-project">
        <h3 class="section-title">Projets et Réalisations</h3>
        <div class="project-container">
            <div class="project-card">
                <div class="project-card_figure project1">
                </div>
                <h3 class="project-card_title">Kaguro Land</h3>
                <div class="project-card_text">Jeu en ligne de stratégie réalisé pour consolider les connaissances en javascript.</div>
                <div class="project-card_tags"><div class="project-card_tag">mini-jeu</div><div class="project-card_tag">web</div></div>
            </div>
            <div class="project-card">
                <div class="project-card_figure project2">
                </div>
                <h3 class="project-card_title">CPME Réunion</h3>
                <div class="project-card_text">Refonte graphique du site de la CPME Réunion réalisée pendant mon alternance.</div>
                <div class="project-card_tags"><div class="project-card_tag">refonte</div><div class="project-card_tag">wordpress</div></div>
            </div>
            <div class="project-card">
                <div class="project-card_figure project3">
                </div>
                <h3 class="project-card_title">Gestion de Syndicat</h3>
                <div class="project-card_text">Projet de gestion des ressources d' un syndicat via différentes applications.</div>
                <div class="project-card_tags"><div class="project-card_tag">api</div><div class="project-card_tag">nodejs</div><div class="project-card_tag">react</div></div>
            </div>
            <div class="project-card">
                <div class="project-card_figure project4">
                </div>
                <h3 class="project-card_title">Cyber Café</h3>
                <div class="project-card_text">Application de gestion des réservations et des postes d' un cyber café.</div>
                <div class="project-card_tags"><div class="project-card_tag">web</div><div class="project-card_tag">nodejs</div></div>
            </div>
            <div class="project-card">
                <div class="project-card_figure project5">
                </div>
                <h3 class="project-card_title">Tisanes Péi</h3>
                <div class="project-card_text">En cours</div>
                <div class="project-card_tags"><div class="project-card_tag">shopify</div><div class="project-card_tag">e-commerce</div></div>
            </div>
            <div class="project-card">
                <div class="project-card_figure project6">
                </div>
                <h3 class="project-card_title">Application mobile</h3>
                <div class="project-card_text">En cours...</div>
                <div class="project-card_tags"><div class="project-card_tag">mobile</div><div class="project-card_tag">api</div></div>

            </div>
        </div>
    
    </div>
    <!-- SKILL SECTION -->
<div class="section-skill">
    <h3 class="section-title">Compétences</h3>
    <div class="container-skill">
        <div class="skill-card">
            <div class="skill-card_design"></div>
            <img class="card-icon" src="../assets/img/icon-wireframe.png">
            <p class="card-text">Maquetter et intégrer une application.</p>
        </div>
        <div class="skill-card">
            <div class="skill-card_design"></div>
            <img class="card-icon" src="../assets/img/icon-database.png">
            <p class="card-text">Concevoir et gérer une base de données.</p>
        </div>
        <div class="skill-card">
            <div class="skill-card_design"></div>
            <img class="card-icon" src="../assets/img/icon-responsive.png">
            <p class="card-text">Réaliser un interface web responsive.</p>
        </div>
        <div class="skill-card">
            <div class="skill-card_design"></div>
            <img class="card-icon" src="../assets/img/icon-secure.png">
            <p class="card-text">Coder et déployer une application sécurisée.</p>
        </div>
        <div class="skill-card">
            <div class="skill-card_design"></div>
            <img class="card-icon" src="../assets/img/icon-api.png">
            <p class="card-text">Mettre en ligne et documenter une API.</p>
        </div>
        <div class="skill-card">
            <div class="skill-card_design"></div>
            <img class="card-icon" src="../assets/img/icon-design.png">
            <p class="card-text">Créer des visuels pour différents supports.</p>
        </div>

    </div>
</div>

      <!-- TOOL  SECTION -->
      <div class="section-tool">      
        <h2 class="tool-title">Langages et Technologies</h2>
        <div class="container-tool">
            <div class="tool-card">
                <div class="tool-icon"><img src="../assets/img/icon-css.png" width="64px" height="64px"></div>
                <h4 class="tool-name">CSS</h4>
                <div class="tool-rate"><img src="../assets/img/star-filled.png" class="tool-star" width="18px" height="18px"><img src="../assets/img/star-filled.png" class="tool-star" width="18px" height="18px"><img src="../assets/img/star-filled.png" class="tool-star" width="18px" height="18px"><img src="../assets/img/star-empty.png" class="tool-star" width="18px" height="18px"></div>
            </div>
            <div class="tool-card">
                <div class="tool-icon"><img src="../assets/img/icon-html.png" width="64px" height="64px"></div>
                <h4 class="tool-name">HTML</h4>
                <div class="tool-rate"><img src="../assets/img/star-filled.png" class="tool-star" width="18px" height="18px"><img src="../assets/img/star-filled.png" class="tool-star" width="18px" height="18px"><img src="../assets/img/star-filled.png" class="tool-star" width="18px" height="18px"><img src="../assets/img/star-empty.png" class="tool-star" width="18px" height="18px"></div>
            </div>
            <div class="tool-card">
                <div class="tool-icon"><img src="../assets/img/icon-figma.png" width="64px" height="64px"></div>
                <h4 class="tool-name">Figma</h4>
                <div class="tool-rate"><img src="../assets/img/star-filled.png" class="tool-star" width="18px" height="18px"><img src="../assets/img/star-filled.png" class="tool-star" width="18px" height="18px"><img src="../assets/img/star-filled.png" class="tool-star" width="18px" height="18px"><img src="../assets/img/star-empty.png" class="tool-star" width="18px" height="18px"></div>
            </div>
            <div class="tool-card">
                <div class="tool-icon"><img src="../assets/img/icon-nodejs.png" width="64px" height="64px"></div>
                <h4 class="tool-name">NodeJS</h4>
                <div class="tool-rate"><img src="../assets/img/star-filled.png" class="tool-star" width="18px" height="18px"><img src="../assets/img/star-filled.png" class="tool-star" width="18px" height="18px"><img src="../assets/img/star-empty.png" class="tool-star" width="18px" height="18px"><img src="../assets/img/star-empty.png" class="tool-star" width="18px" height="18px"></div>
            </div>
            <div class="tool-card">
                <div class="tool-icon"><img src="../assets/img/icon-laravel.png" width="64px" height="64px"></div>
                <h4 class="tool-name">Laravel</h4>
                <div class="tool-rate"><img src="../assets/img/star-filled.png" class="tool-star" width="18px" height="18px"><img src="../assets/img/star-filled.png" class="tool-star" width="18px" height="18px"><img src="../assets/img/star-empty.png" class="tool-star" width="18px" height="18px"><img src="../assets/img/star-empty.png" class="tool-star" width="18px" height="18px"></div>
            </div>

            <div class="tool-card">
                <div class="tool-icon"><img src="../assets/img/icon-react.png" width="64px" height="64px"></div>
                <h4 class="tool-name">React</h4>
                <div class="tool-rate"><img src="../assets/img/star-filled.png" class="tool-star" width="18px" height="18px"><img src="../assets/img/star-filled.png" class="tool-star" width="18px" height="18px"><img src="../assets/img/star-empty.png" class="tool-star" width="18px" height="18px"><img src="../assets/img/star-empty.png" class="tool-star" width="18px" height="18px"></div>
            </div>
            <div class="tool-card">
                <div class="tool-icon"><img src="../assets/img/icon-vuejs.png" width="64px" height="64px"></div>
                <h4 class="tool-name">VueJS</h4>
                <div class="tool-rate"><img src="../assets/img/star-filled.png" class="tool-star" width="18px" height="18px"><img src="../assets/img/star-empty.png" class="tool-star" width="18px" height="18px"><img src="../assets/img/star-empty.png" class="tool-star" width="18px" height="18px"><img src="../assets/img/star-empty.png" class="tool-star" width="18px" height="18px"></div>
            </div>
            <div class="tool-card">
                <div class="tool-icon"><img src="../assets/img/icon-wordpress.png" width="64px" height="64px"></div>
                <h4 class="tool-name">Wordpress</h4>
                <div class="tool-rate"><img src="../assets/img/star-filled.png" class="tool-star" width="18px" height="18px"><img src="../assets/img/star-filled.png" class="tool-star" width="18px" height="18px"><img src="../assets/img/star-empty.png" class="tool-star" width="18px" height="18px"><img src="../assets/img/star-empty.png" class="tool-star" width="18px" height="18px"></div>
            </div>
            <div class="tool-card">
                <div class="tool-icon"><img src="../assets/img/icon-shopify.png" width="64px" height="64px"></div>
                <h4 class="tool-name">Shopify</h4>
                <div class="tool-rate"><img src="../assets/img/star-filled.png" class="tool-star" width="18px" height="18px"><img src="../assets/img/star-filled.png" class="tool-star" width="18px" height="18px"><img src="../assets/img/star-empty.png" class="tool-star" width="18px" height="18px"><img src="../assets/img/star-empty.png" class="tool-star" width="18px" height="18px"></div>
            </div>
            <div class="tool-card">
                <div class="tool-icon"><img src="../assets/img/icon-prestashop.png" width="64px" height="64px"></div>
                <h4 class="tool-name">Prestashop</h4>
                <div class="tool-rate"><img src="../assets/img/star-filled.png" class="tool-star" width="18px" height="18px"><img src="../assets/img/star-filled.png" class="tool-star" width="18px" height="18px"><img src="../assets/img/star-empty.png" class="tool-star" width="18px" height="18px"><img src="../assets/img/star-empty.png" class="tool-star" width="18px" height="18px"></div>
            </div>
        </div>
    </div>
    <!-- FOOTER SECTION -->
    <div class="section-footer">
        <div class="footer-image"></div>
        <h2 class="footer-title">Me contacter</h2>
        <label for="email-input" class="footer-email_label">Adresse Email</label>
        <input type="text" id="email-input" class="footer-email_input" placeholder="...">
        <label for="message-label" class="footer-message_label">Votre message</label>
        <textarea type="text" id="message-input" class="footer-message_input" placeholder="..."></textarea>
        <input type="submit" id="submit-button" class="footer-cta" value="Confirmer">
    </div>
</body>

</html>