<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Lavit Gaëtan</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=KoHo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">
</head>

<body>
    <section class="section section-hero">
    <h1 class="hero-title font-main font-white">LAVIT GAETAN</h1>
    <h2 class="hero-subtitle font-main font-cta">Développeur Web</h2>
    <p class="hero-text font-secondary font-light">Passionné par le numérique depuis toujours, j'ai décidé d'apprendre la
        programmation avec Simplon. J'aime participer à des projets en équipe ou laisser parler ma créativité via des
        réalisations personnelles.</p>
    </section>
    <section class="section section-skill">
        <h3 class="section-title">Compétences</h3>
        <div class="container-flex">
            <div class="card-skill">
                <img class="card-icon" width="48px" height="48px" src="../assets/img/icon-prototype.png">
                <h4 class="card-title">Maquetter et intégrer une application.</h4>
                <div class="card-skill_design"></div>
            </div>
            <div class="card-skill">
                <img class="card-icon" width="48px" height="48px" src="../assets/img/icon-database.png">
                <h4 class="card-title">Créer et gérer une base de données.</h4>
                <div class="card-skill_design"></div>
            </div>
            <div class="card-skill">
                <img class="card-icon" width="48px" height="48px" src="../assets/img/icon-front.png">
                <h4 class="card-title">Réaliser un interface web responsive.</h4>
                <div class="card-skill_design"></div>
            </div>
            <div class="card-skill">
                <img class="card-icon" width="48px" height="48px" src="../assets/img/icon-secure.png">
                <h4 class="card-title">Tester et sécuriser une application.</h4>
                <div class="card-skill_design"></div>
            </div>
            <div class="card-skill">
                <img class="card-icon" width="48px" height="48px" src="../assets/img/icon-api.png">
                <h4 class="card-title">Documenter et mettre en ligne une API.</h4>
                <div class="card-skill_design"></div>
            </div>
            <div class="card-skill">
                <img class="card-icon" width="48px" height="48px" src="../assets/img/icon-design.png">
                <h4 class="card-title">Concevoir des visuels et infographies.</h4>
                <div class="card-skill_design"></div>
            </div>
        </div>
    </section>

    <section class="section section-projects">
        <h3 class="section-title">Projets</h3>

    </section>
    <section class="section section-tools">
        <h3 class="section-title">Technologies et outils</h3>

    </section>
</body>

</html>