<div class="footer">
<div class="footer-nav">
    <h5 class="footer-title">Navigation</h5>
    <a href="/" class="footer-link">Accueil</a>
    <a href="/blogs" class="footer-link">Blog</a>
    <a href="/projets" class="footer-link">Projets</a>
    <a href="/contact" class="footer-link">Me contacter</a>
    <a href="/mentions-legales" class="footer-link">Mentions légales</a>
</div>

<div class="footer-social">
    <h5 class="footer-title">Me suivre</h5>
    <div class="social-container">
        <div class="social-figure">
            <img width="18px" height="18px" src="./assets/frontend/icon-github.png" alt="github">
        </div>
        <div class="social-figure">
        <img width="18px" height="18px" src="./assets/frontend/icon-linkedin.png" alt="linkedin">
    </div>
    </div>
</div>
<div class="footer-certification">
    <a href="https://directory.opquast.com/fr/certificat/PL506B/"><img class="certification-image" src="./assets/frontend/opquast.png" alt="opquast avancé"></a>
    
</div>
</div>
