.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 64px;
    grid-row-gap: 48px;
    background: var(--clr-main);
    padding: 48px 10%;
}

.footer-title {
    color: var(--clr-background);
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.68px;
    margin-bottom: 24px;
}

.footer-link {
    transition: .3s;
    color: var(--clr-background);
    font-family: Lexend;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.6px;
    position: relative;
    padding-left: 24px;
    margin-bottom: 12px;
    cursor: pointer;
    display: block;
    text-decoration: none;
}

.footer-link:before {
    transition: .3s;
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: var(--clr-background);
    border-radius: 8px;
    top: calc(50% - 4px);
    left: 0;
}

.footer-link:hover:before {
    background-color: var(--clr-accent);
}


.footer-link:hover {
    color: var(--clr-accent);
}

.social-container {
    display: flex;
}

.social-figure {
    transition: .3s;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    background: var(--clr-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    cursor: pointer;
}

.social-figure:hover {

    background: var(--clr-accent);

}


@media screen and (max-width: 648px) {

    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 0;
        grid-row-gap: 24px;
        padding: 24px 10%;
    }
    

}