<div class="blog">
    <h2 class="section-title">Blog</h2>
    <div class="blog-container">
        <div class="blog-card">
            <div class="blog-card-header">
                <img class="blog-card-image" src="./assets/frontend/thumbnail-design-rules.png" alt="design">
            </div>
            <h4 class="blog-card-name">Grid et Flexbox</h4>
            <p class="blog-card-description">Améliorez l'agencement de vos contenus web avec ces règles css.</p>
            <div class="blog-card-action"><img src="./assets/frontend/icon-go.png" alt="Lire l'article"></div>
        </div>
        <div class="blog-card">
            <div class="blog-card-header">
                <img class="blog-card-image" src="./assets/frontend/thumbnail-security.png" alt="security">

            </div>
            <h4 class="blog-card-name">Vulnérabilités web</h4>
            <p class="blog-card-description">Découvrez quelles sont les menaces les plus courantes et contrez-les.</p>
            <div class="blog-card-action"><img src="./assets/frontend/icon-go.png" alt="Lire l'article"></div>
        </div>
        <div class="blog-card">
            <div class="blog-card-header">
                <img class="blog-card-image" src="./assets/frontend/thumbnail-speed.png" alt="speed">

            </div>
            <h4 class="blog-card-name">Référencement naturel</h4>
            <p class="blog-card-description">L' experience utilisateur et votre référencement dépendent en partie de la vitesse de votre site.</p>
            <div class="blog-card-action"><img src="./assets/frontend/icon-go.png" alt="Lire l'article"></div>
        </div>
        
    </div>
</div>