<div class="blog">
    <h2 class="section-title">Blog</h2>
    <div class="blog-container">
        <div class="blog-card">
            <div class="blog-card-header"></div>
            <h4 class="blog-card-name">Grid et Flexbox</h4>
            <p class="blog-card-description">Améliorez l'agencement de vos contenus web avedc ces règles css.</p>
            <div class="blog-card-action"><img src="./assets/frontend/icon-go.png" alt="Lire l'article"></div>
        </div>
        <div class="blog-card">
            <div class="blog-card-header"></div>
            <h4 class="blog-card-name">Vulnérabilités web</h4>
            <p class="blog-card-description">Améliorez l'agencement de vos contenus web avedc ces règles css.</p>
            <div class="blog-card-action"><img src="./assets/frontend/icon-go.png" alt="Lire l'article"></div>
        </div>
        <div class="blog-card">
            <div class="blog-card-header"></div>
            <h4 class="blog-card-name">Optimisation de performances</h4>
            <p class="blog-card-description">Améliorez l'agencement de vos contenus web avedc ces règles css.</p>
            <div class="blog-card-action"><img src="./assets/frontend/icon-go.png" alt="Lire l'article"></div>
        </div>
        
    </div>
</div>