.blog {
    padding: 32px 10%;
}

.blog-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog-card {
    width: calc(33.3% - 12px);
    border: 4px solid var(--clr-light);
    background-color: var(--clr-background);
    position: relative;
    padding-bottom: 48px;
    margin: 24px 0;
}

.blog-card-header  {
    width: 100%;
    height: 128px;
    background-color: var(--clr-main);
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-card-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.blog-card-name {
    color: #0E0E0F;
font-family: Lexend;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: 150%;
letter-spacing: 0.68px;
padding: 0 24px;
}

.blog-card-description {
    color: #6f6f77;
font-family: Lexend;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 170%;
letter-spacing: 0.6px;
padding: 12px 24px;
}

.blog-card-action {
    cursor: pointer;
    width: 32px;
height: 32px;
border-radius: 32px;
background: var(--clr-accent);
display: flex;
align-items: center;justify-content: center;
position: absolute;
right: 24px;
}


@media screen and (max-width: 948px) {
    .blog-card-action {

    right: 16px;
    }
    .blog-card {
        width: calc(50% - 12px);
        margin: 12px 0 12px 0;
    }
    .blog-card-header  {
        margin-bottom: 12px;
    }
    .blog-card-name {
    font-size: 16px;
    padding: 0 16px;
    }
    
    .blog-card-description {
    font-size: 14px;
    padding:  8px 16px;
    }
}


@media screen and (max-width: 648px) {
    .blog-card {
        width: 100%;
    }
}
