.tools {
    padding: 32px 10%;
}

.tools-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    padding-top: 24px;
}

.tools-container {
    background: var(--clr-background);
    border-radius: 4px;
    box-shadow: 2px 2px 10px 1px #00000010;
}

.tools-container-header {
    padding: 12px 30px;
    background-color: var(--clr-secondary);
    color: var(--clr-light);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top: 4px solid var(--clr-accent);
}

.tools-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    padding: 24px;
    border-top: none;
}

.tools-card {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tools-card-name {
    color: var(--clr-main);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.6px;
    padding-top: 12px;
}



@media screen and (max-width: 1248px) {

    .tools-grid {
        grid-column-gap: 24px;
        grid-row-gap: 24px;
    }
}

@media screen and (max-width: 948px) {

    .tools-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-column-gap: 0;
        grid-row-gap: 24px;
    }
}
