.tools {
    padding: 48px 15%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

.tools-header {
    grid-area: 1 / 1 / 2 / 3;
}

.tools-0 {
    grid-area: 2 / 1 / 3 / 2;
}

.tools-1 {
    grid-area: 2 / 2 / 3 / 3;
}

.tools-2 {
    grid-area: 3 / 1 / 4 / 2;
}

.tools-3 {
    grid-area: 3 / 2 / 4 / 3;
}

.tools-container {
    background: #FFF;
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.10);
}

.tools-container-header {
    padding: 12px 30px;
    background-color: var(--clr-main);
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.72px;
    border-bottom: 4px solid var(--clr-accent);
}

.tools-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    padding: 32px;
}

.tools-card {
    border: 2px solid var(--clr-light);
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tools-card-name {
    color: var(--clr-main);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.6px;
    padding-top: 12px;
}