    <div class="tools">
    <h2 class="section-title">Outils & Technologies</h2>
    <div class="tools-grid">
            <div class="tools-container tools-0">
        <div class="tools-container-header">Langages</div>
        <div class="tools-content">
            <div class="tools-card">
                <img src="./assets/frontend/logo-html.webp" width="40px" height="40px" alt="HTML">
                <p class="tools-card-name">HTML</p>
            </div>
            <div class="tools-card">
                <img src="./assets/frontend/logo-css.webp" width="40px" height="40px" alt="CSS">
                <p class="tools-card-name">CSS</p>
            </div>
            <div class="tools-card">
                <img src="./assets/frontend/logo-javascript.webp" width="40px" height="40px" alt="JAVASCRIPT">
                <p class="tools-card-name">Javascript</p>
            </div>
            <div class="tools-card">
                <img src="./assets/frontend/logo-php.webp" width="40px" height="40px" alt="PHP">
                <p class="tools-card-name">PhP</p>
            </div>
        </div>
    </div>
    <div class="tools-container tools-1">
        <div class="tools-container-header">Frameworks</div>
        <div class="tools-content">
            <div class="tools-card">
                <img src="./assets/frontend/logo-angular.webp" width="40px" height="40px" alt="HTML">
                <p class="tools-card-name">Angular</p>
            </div>
            <div class="tools-card">
                <img src="./assets/frontend/logo-nodejs.webp" width="40px" height="40px" alt="CSS">
                <p class="tools-card-name">NodeJS</p>
            </div>
            <div class="tools-card">
                <img src="./assets/frontend/logo-react.webp" width="40px" height="40px" alt="JAVASCRIPT">
                <p class="tools-card-name">React</p>
            </div>
            <div class="tools-card">
                <img src="./assets/frontend/logo-vuejs.webp" width="40px" height="40px" alt="PHP">
                <p class="tools-card-name">Vue JS</p>
            </div>
        </div>
    </div>
    <div class="tools-container tools-2">
        <div class="tools-container-header">Base de données</div>
        <div class="tools-content">
            <div class="tools-card">
                <img src="./assets/frontend/logo-mysql.webp" width="40px" height="40px" alt="HTML">
                <p class="tools-card-name">MySQL</p>
            </div>
            <div class="tools-card">
                <img src="./assets/frontend/logo-mongodb.webp" width="40px" height="40px" alt="CSS">
                <p class="tools-card-name">MongoDB</p>
            </div>
            <div class="tools-card">
                <img src="./assets/frontend/logo-firebase.webp" width="40px" height="40px" alt="JAVASCRIPT">
                <p class="tools-card-name">Firebase</p>
            </div>
        </div>
    </div>
    <div class="tools-container tools-3">
        <div class="tools-container-header">Divers</div>
        <div class="tools-content">
            <div class="tools-card">
                <img src="./assets/frontend/logo-github.webp" width="40px" height="40px" alt="HTML">
                <p class="tools-card-name">Github</p>
            </div>
            <div class="tools-card">
                <img src="./assets/frontend/logo-figma.webp" width="40px" height="40px" alt="CSS">
                <p class="tools-card-name">Figma</p>
            </div>
            <div class="tools-card">
                <img src="./assets/frontend/logo-postman.webp" width="40px" height="40px" alt="JAVASCRIPT">
                <p class="tools-card-name">Postman</p>
            </div>
        </div>
    </div>
    </div>

</div>