<div class="projects">
    <h2 class="section-title">Projets & Réalisations</h2>
    <div class="projects-card">
        <div class="projects-figure"></div>
        <h4 class="projects-name">Le Quai des Mers - Sushi</h4>
        <p class="projects-description">Site crée pour l’ entreprise Le Quais Des Mers afin de permettre la commande de
            plats en ligne et donner un coup de neuf aux visuels.</p>
            <div class="projects-action">
                  <div class="action"><img class="action-icon" src="./assets/frontend/icon-rocket.webp" width="16px" height="16px"
                alt="rocket"><span class="action-text">Voir le projet</span></div>
            </div>
      
    </div>
    <div class="projects-card">
        <div class="projects-figure"></div>
        <h4 class="projects-name">Le Quai des Mers - Sushi</h4>
        <p class="projects-description">Site crée pour l’ entreprise Le Quais Des Mers afin de permettre la commande de
            plats en ligne et donner un coup de neuf aux visuels.</p>
            <div class="projects-action">
                  <div class="action"><img class="action-icon" src="./assets/frontend/icon-rocket.webp" width="16px" height="16px"
                alt="rocket"><span class="action-text">Voir le projet</span></div>
            </div>
      
    </div>
    <div class="projects-card">
        <div class="projects-figure"></div>
        <h4 class="projects-name">Le Quai des Mers - Sushi</h4>
        <p class="projects-description">Site crée pour l’ entreprise Le Quais Des Mers afin de permettre la commande de
            plats en ligne et donner un coup de neuf aux visuels.</p>
            <div class="projects-action">
                  <div class="action"><img class="action-icon" src="./assets/frontend/icon-rocket.webp" width="16px" height="16px"
                alt="rocket"><span class="action-text">Voir le projet</span></div>
            </div>
      
    </div>

</div>