<div class="projects">
    <h2 class="projects-header section-title">Projets & Réalisations</h2>
    <div class="projects-0"></div>
    <div class="projects-1"><h4 class="projects-name"></h4></div>
    <div class="projects-2"><p class="projects-description"></p></div>
    <div class="projects-3"><div class="action"><img class="action-icon" src="./assets/frontend/icon-rocket.webp" width="16px" height="16px" alt="rocket"><span class="action-text">Voir le projet</span></div></div>
    <div class="projects-4"></div>
    <div class="projects-5"><h4 class="projects-name"></h4></div>
    <div class="projects-6"><p class="projects-description"></p></div>
    <div class="projects-7"><div class="action"><img class="action-icon" src="./assets/frontend/icon-rocket.webp" width="16px" height="16px" alt="rocket"><span class="action-text">Voir le projet</span></div></div>
</div>