.projects {
    padding: 0 10%;
}

.projects-card {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    margin: 32px 0;
}

.projects-figure {
    grid-area: 1 / 1 / 4 / 2;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    background-color: var(--clr-secondary);
}

.projects-name {
    grid-area: 1 / 2 / 2 / 3;
    color: #0E0E0F;
    font-family: Lexend;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.72px;
    position: relative;
}

.projects-name:before {
content: "";
bottom: -4px;
left: 0;
position: absolute;
width: 64px;
height: 4px;
background-color: var(--clr-accent);
}

.projects-description {
    grid-area: 2 / 2 / 3 / 3;
    color: var(--clr-secondary);
font-family: Lexend;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 170%;

letter-spacing: 0.6px;
}

.projects-action {
    grid-area: 3 / 2 / 4 / 3;
}

.projects .action-text {
    font-size: 14px;
}