<div class="hero">
    <div class="hero-figure"><img src="./assets/frontend/profil-picture.webp" width="200px" height="200px" alt="Profil picture"></div>
    <div class="hero-header"><h1>Portfolio - Gaëtan LAVIT</h1></div>
    <div class="hero-text"><p class="text-important">Développeur web passionné par la conception et la réalisation de projets numériques seul ou en équipe. Je reste toujours ouvert à l’apprentissage.</p></div>
    <div class="hero-action"><div class="action"><img class="action-icon" src="./assets/frontend/icon-rocket.webp" width="16px" height="16px" alt="rocket"><span class="action-text">Mes projets</span></div></div>
</div>
