.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    padding: 32px 10%;
    background: linear-gradient(-45deg, rgba(255,255,255,1) -150%, rgba(243,247,255,1) 100%);
}

.skills-header {
    grid-area: 1 / 1 / 2 / 2;
}

.skills-0 {
    grid-area: 2 / 1 / 3 / 2;
}

.skills-1 {
    grid-area: 2 / 2 / 3 / 3;
}

.skills-2 {
    grid-area: 2 / 3 / 3 / 4;
}

.skills-3 {
    grid-area: 3 / 1 / 4 / 2;
}

.skills-4 {
    grid-area: 3 / 2 / 4 / 3;
}

.skills-5 {
    grid-area: 3 / 3 / 4 / 4;
}

.skills-card {
    background-color: #fff;
    padding: 24px;
    border-radius: 4px;
}

.skills-figure {
    width: 48px;
    height: 48px;
    background-color: var(--clr-secondary);
    border-radius: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 16px auto;
    box-shadow: 3px 3px 0 0 var(--clr-accent);
}

.skills-name {
    color: var(--clr-main);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 180%;
    letter-spacing: 0.64px;
}