<div class="skills">
    <h2 class="skills-header section-title">Compétences</h2>
    <div class="skills-card skills-0">
        <div class="skills-figure">
            <img width="24" height="24" src="./assets/frontend/icon-design.webp" alt="UI/UX">
        </div>
        <h3 class="skills-name">Design UI/UX</h3>
    </div>
    <div class="skills-card skills-1">
        <div class="skills-figure">
            <img width="24" height="24" src="./assets/frontend/icon-frontend.webp" alt="UI/UX">
        </div>
        <h3 class="skills-name">Intégration web</h3>
    </div>
    <div class="skills-card skills-2">
        <div class="skills-figure">
            <img width="24" height="24" src="./assets/frontend/icon-database.webp" alt="UI/UX">
        </div>
        <h3 class="skills-name">Base de données</h3>
    </div>
    <div class="skills-card skills-3">
        <div class="skills-figure">
            <img width="24" height="24" src="./assets/frontend/icon-responsive.webp" alt="UI/UX">
        </div>
        <h3 class="skills-name">Responsive mobile</h3>
    </div>
    <div class="skills-card skills-4">
        <div class="skills-figure">
            <img width="24" height="24" src="./assets/frontend/icon-shield.webp" alt="UI/UX">
        </div>
        <h3 class="skills-name">Sécurité web</h3>
    </div>
    <div class="skills-card skills-5">
        <div class="skills-figure">
            <img width="24" height="24" src="./assets/frontend/icon-api.webp" alt="UI/UX">
        </div>
        <h3 class="skills-name">API</h3>
    </div>
</div>